<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/addproduct.css" />
    <title>Add Product</title>
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item"><a href="/" class="nav-link">Shop</a></li>
          <li class="nav-item">
            <a href="/admin/add-product" class="nav-link">Add Product</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Add Product</h1>
      <form action="/admin/add-product" method="post">
        <div class="form-group">
          <label for="title">Title:</label>
          <input
            type="text"
            id="title"
            name="title"
            placeholder="Enter title"
            required
          />
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea
            id="description"
            name="description"
            placeholder="Enter description"
            required
          ></textarea>
        </div>
        <div class="form-group">
          <label for="price">Price:</label>
          <input
            type="number"
            id="price"
            name="price"
            placeholder="Enter price"
            step="0.01"
            required
          />
        </div>
        <div class="form-group">
          <label for="image">Image URL:</label>
          <input
            type="url"
            id="image"
            name="image"
            placeholder="Enter image URL"
            required
          />
        </div>
        <button type="submit">Add Product</button>
      </form>
    </main>
  </body>
</html>
