.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.product-item {
  width: 20rem;
  max-width: 95%;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
}
    .edit-button,
    .delete-button {
        display: inline-block;
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 8px 16px; 
        margin-right: 5px;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none; 
        width: 100px; 
        height: auto;
        text-align: center;
    }

    .delete-button {
        background-color: #dc3545;
    }
    .product__title {
        position: relative;
        margin-right: 50px; 
    }

    .cart-icon {
        vertical-align: right;       
        float: inline-end;
    }