.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.product-item {
  width: 20rem;
  max-width: 95%;
  margin: 1rem;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
}

.total-price-section {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  text-align: right;
}

.total-price-section h2 {
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
}

.total-price {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
